@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap'); /* Imports Google Fonts */

a:link, a:visited {
    color: blue;
} /* Sets the color of links to blue */

a:focus, a:hover {
    background-color: #ddddff;
    border-radius: 5px;
    text-decoration: underline;
    transition-duration: 0.2s;
    transition-property: background;
} /* Changes background color, adds border-radius and underline on focus and hover with a smooth transition */

body {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
} /* Sets the font family and font size for the body element */

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .05em;
    margin: 1.5rem auto;
    text-align: center;
} /* Styles h1 and h2 elements with font type, letter spacing, margin, and centered text */

h1 {
    font-size: 3rem;
} /* Sets the font size for h1 elements */

h2 {
    font-size: 2.25rem;
} /* Sets the font size for h2 elements */

header {
    text-align: center;
} /* Centers text inside the header element */

p {
    line-height: 140%;
    margin-bottom: 1em;
} /* Sets line height and margin for p elements */

#intro {
    font-size: 22px;
} /* Sets the font size for the element with id "intro" */

#footer-container {
    color: black;
    background-color: cyan;
    text-align: center;
    line-height: 50px;
    border: solid 2px red;
} /* Styles footer with specific color, background, text alignment, line height, and border */

#header-container {
    color: black;
    background-color: cyan;
    line-height: 50px;
    border: solid 2px red;
} /* Styles header with specific color, background, line height, and border */

#main-container {
    background-color: #181A1B;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    height: 100%;
    color: white;
} /* Sets up a grid layout with columns and gap, background color, height, and text color for the main container */

nav, main, aside {
    border: solid 2px green;
    padding: 10px;
} /* Applies border and padding to nav, main, and aside elements */